// fonts
$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;

//body
.container {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  max-width: 1200px;
  // justify-content: center;
  margin: auto;
}

// navbar

.navbar {
  display: flex;
  align-items: flex-end;
  height: 170px;
  background-color: white;
  text-transform: uppercase;
  font-family: $roboto;

}

.navbar-logo-home {
  flex: 1;

  .navbar-logo { 
    width: 145px;
    height: 150px;
    background-image: url(../images/logotyp.png) ;
    background-size: cover;
    margin: 50px 100px 20px 40px;
  }
}

.navbar-buttons { 
  flex: 2;
  width: 800px;
  align-items: flex-end;
  a {
    text-decoration: none;
    color: #8a0600;
    // margin: 5px 30px;
    // padding: 5px 30px;
  }

  .button-border:hover {
    
    background-color: yellow;
  }
}

.menu-list li {
  display: inline;
}

.nav-offer {
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgb(228, 228, 228);
}

.nav-offer:hover .dropdown-menu{
  display: block;
}


.about{
  width: 1200px;
  font-family: $roboto;
  font-weight: 500;
  font-size: 16px;
}