@charset "UTF-8";
h2 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 17px;
}

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  position: relative;
  padding-bottom: 59.2px;
}

body {
  margin-bottom: 0;
}

.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  height: 170px;
  padding-top: 15px;
  background-color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  position: -webkit-sticky;
  position: sticky;
  width: 1200px;
  border-bottom: 1px solid #b8b8b8;
  top: 0;
}

.navbar-logo-home {
  -ms-flex: 1;
      flex: 1;
}

.navbar-logo-home .navbar-logo {
  width: 145px;
  height: 150px;
  background-image: url(../images/logotyp.png);
  background-size: cover;
  margin: 50px 10px 20px 40px;
}

.navbar-buttons {
  -ms-flex: 2;
      flex: 2;
  width: 800px;
  -ms-flex-align: end;
      align-items: flex-end;
}

.navbar-buttons .link {
  margin: 0px 80px 10px 10px;
}

.navbar-buttons .link-lg {
  margin: 0px 0px 10px 10px;
}

.navbar-buttons a {
  text-decoration: none;
  color: #8a0600;
}

.navbar-buttons .link:hover {
  color: black;
  background-color: #faf8f8;
}

.menu-list li {
  display: inline;
}

.nav-offer {
  display: inline-block;
}

a.anchor {
  display: block;
  position: relative;
  top: -170px;
  visibility: hidden;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fdfdfd;
  padding: 3px 10px;
  font-size: 17px;
  text-align: left;
  width: 500px;
}

.dropdown-menu .button-border {
  padding: 10px 10px;
}

.dropdown-menu .button-border:hover {
  background-color: #f3f3f3;
}

.dropdown-menu .button-border:hover a {
  color: black;
}

.nav-offer:hover .dropdown-menu {
  display: block;
}

.about-1 {
  width: 1200px;
  height: 240px;
  background-image: url(../images/tło1.png);
  background-size: cover;
}

.about-1-1 {
  width: 700px;
  padding: 30px;
}

.about-2 {
  width: 1200px;
  height: 260px;
  background-image: url(../images/tło2.png);
  background-size: cover;
  color: white;
  display: -ms-flexbox;
  display: flex;
}

.about-2-1 {
  -ms-flex: 2;
      flex: 2;
  padding: 20px 30px;
}

.about-2-2 {
  -ms-flex: 1;
      flex: 1;
  padding: 20px 30px;
}

.offer-title {
  -ms-flex: 20%;
      flex: 20%;
  color: #8a0600;
  padding: 20px 10px 20px 30px;
}

.offer-content {
  -ms-flex: 80%;
      flex: 80%;
  padding: 20px 30px 20px 0px;
}

.offer-1,
.offer-3,
.offer-5 {
  width: 1200px;
  min-height: 300px;
  display: -ms-flexbox;
  display: flex;
  background-color: #fefefe;
}

.offer-2,
.offer-4,
.offer-6 {
  width: 1200px;
  min-height: 300px;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
}

.contact {
  width: 1200px;
  height: 260px;
  background-image: url(../images/tło3.png);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.contact ul li a {
  text-decoration: none;
  color: black;
}

.contact-logo {
  -ms-flex: 20%;
      flex: 20%;
}

.contact-logo img {
  height: 150px;
  margin-left: 30px;
}

.contact-content {
  -ms-flex: 80%;
      flex: 80%;
}

.contact-content .contact-list li {
  display: inline;
  padding: 0px 30px;
}

.footer {
  width: 1200px;
  background-color: #4b4b4b;
  text-align: center;
  bottom: 0;
  position: absolute;
}

.footer h4 {
  margin: 0px;
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */